<h1 mat-dialog-title>
  Termo de privacidade - UniBot
</h1>
<mat-dialog-content>
  <p>
    Nós, da equipe de desenvolvimento do UniBot, valorizamos a privacidade e a proteção dos dados de nossos usuários. Este Termo de Privacidade tem como objetivo esclarecer como as informações pessoais são tratadas durante a utilização do UniBot para acessar dados acadêmicos.
    <br>
    <br>
    <b>1 - Coleta de Informações Pessoais</b>
    <br>
    O UniBot solicita suas credenciais de acesso ao sistema acadêmico da universidade com a única finalidade de realizar o login e consultar seus dados acadêmicos. Essas informações são usadas exclusivamente para esse fim, não sendo armazenadas ou compartilhadas com terceiros.
    <br>
    <br>
    <b>2 - Uso de Cookies</b>
    <br>
    O UniBot utiliza cookies temporários (cookies de sessão) para gerenciar o processo de autenticação e realizar as requisições necessárias via API do sistema acadêmico.
    <br>
    <br>
    <b>3 - Compartilhamento de Dados</b>
    <br>
    O UniBot não compartilha, vende ou cede seus dados pessoais ou acadêmicos a terceiros, em conformidade com a Lei Geral de Proteção de Dados Pessoais (LGPD) (Lei nº 13.709/2018). As informações acessadas são exibidas exclusivamente ao usuário que realizou o login, de forma confidencial.
    <br>
    <br>
    <b>4 - Segurança das Informações</b>
    <br>
    Todas as requisições e transmissões de dados realizadas pelo UniBot são protegidas por tecnologias de criptografia e protocolos de segurança adequados, visando garantir a integridade, confidencialidade e proteção das informações durante o uso do sistema.
    <br>
    <br>
    <b>5 - Consentimento</b>
    <br>
    Ao utilizar o UniBot, você expressamente consente com o uso de suas credenciais para fins de autenticação e concorda com o uso de cookies conforme descrito neste termo. Caso não concorde com as condições aqui expostas, o uso do UniBot não é recomendado.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Fechar</button>
</mat-dialog-actions>
