<div class="tela-inteira">
  <div class="title-login">
    <h1><strong>Entrar</strong></h1>
  </div>
  <div class="container-login">
    <form [formGroup]="this.formGroup" (ngSubmit)="onSubmit()" class="form">
      <div class="login-content">
        <mat-form-field>
          <mat-label>Instituição</mat-label>
          <mat-select formControlName="institutionName">
            <mat-option *ngFor="let institution of this.institutions" [value]="institution.name" (onSelectionChange)="setSaudation($event)"> {{institution.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>{{saudation}}</p>
        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="handleError('username', 'required')">O usuário deve ser informado</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Digite a senha"
                 [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="this.formGroup.get('password')?.hasError('required')">A Senha é obrigatória</mat-error>
        </mat-form-field>
        <button class="button" type="submit" title="Entrar">
          <span>Entrar</span>
        </button>
      </div>
      <div class="links">
        <a class="link" (click)="openTermo()"><u>Termo de privacidade</u></a>
        <a class="link" (click)="openResumo()"><u>Resumo do projeto</u></a>
      </div>
    </form>
  </div>
</div>

