<h1 mat-dialog-title>
  Resumo do projeto - UniBot
</h1>
<mat-dialog-content>
  <p>
    Este projeto propõe a integração de um chatbot e criação de uma API (Application Programming Interface - Interface de Programação de Aplicação) para acessar dados relevantes sobre os alunos na universidade, com o objetivo de melhorar a experiência dos usuários ao acessarem informações sobre sua vida acadêmica.
    <br>
    <br>
    O chatbot foi desenvolvido utilizando técnicas de PLN (Processamento de Linguagem Natural) e é capaz de interagir com os usuários de forma natural, fornecendo informações sobre sua vida acadêmica.
    <br>
    <br>
    A integração com a API permite ao chatbot acessar dados em tempo real, como horários de aulas, notas e outras informações relevantes.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Fechar</button>
</mat-dialog-actions>
