/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
  border-color: #4b9fcf !important;
  background-color: #4b9fcf !important;
}

html {
  --mdc-filled-text-field-caret-color: #4b9fcf !important;
  --mdc-filled-text-field-focus-active-indicator-color: #4b9fcf !important;
  --mdc-filled-text-field-focus-label-text-color: #4b9fcf !important;
  --mdc-outlined-text-field-focus-outline-color: #4b9fcf !important;
  --mdc-outlined-text-field-focus-label-text-color: #4b9fcf !important;
  --mdc-outlined-text-field-caret-color: #4b9fcf !important;
  --mat-option-selected-state-label-text-color: #4b9fcf !important;
  --mat-datepicker-toggle-active-state-icon-color: #4b9fcf !important;
  --mat-select-focused-arrow-color: #4b9fcf !important;
}

.mat-calendar-body-selected {
  background-color: #4b9fcf !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #4b9fcf !important;
}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-selected-focus-icon-color: #4b9fcf !important;
  --mdc-radio-selected-hover-icon-color: #4b9fcf !important;
  --mdc-radio-selected-icon-color: #4b9fcf !important;
  --mdc-radio-selected-pressed-icon-color: #4b9fcf !important;
  --mat-radio-checked-ripple-color: #4b9fcf !important;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #4b9fcf !important;
  --mat-tab-header-active-label-text-color: #4b9fcf !important;
  --mat-tab-header-active-ripple-color: #4b9fcf !important;
  --mat-tab-header-inactive-ripple-color: #4b9fcf !important;
  --mat-tab-header-active-focus-label-text-color: #4b9fcf !important;
  --mat-tab-header-active-hover-label-text-color: #4b9fcf !important;
  --mat-tab-header-active-focus-indicator-color: #4b9fcf !important;
  --mat-tab-header-active-hover-indicator-color: #4b9fcf !important;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
  color: #4b9fcf !important;
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #4b9fcf !important;
}

mat-dialog-container:has(> app-loader-dialog) {
  background-color: rgba(0, 0, 0, 0) !important;
}

app-loader-dialog {
  background-color: rgba(0, 0, 0, 0) !important;
}

.mdc-dialog__container .mdc-dialog__surface:has(> app-loader-dialog) {
  background-color: rgba(0, 0, 0, 0) !important;
  box-shadow: var(--mdc-dialog-container-elevation, 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0)) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: var(--mdc-dialog-container-elevation, 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0)) !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-elevation-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0), 0px 24px 38px 3px rgba(0, 0, 0, 0), 0px 9px 46px 8px rgba(0, 0, 0, 0) !important;
}

.mat-mdc-progress-spinner.mat-warn[_ngcontent-ng-c2551497326] {
  --mdc-circular-progress-active-indicator-color: #B2DFFF !important;
}

.cdk-overlay-pane:has(> mat-dialog-containerlo:has(> .mdc-dialog__container:has(> .mat-mdc-dialog-surface mdc-dialog__surface:has(> app-produto-movimentacao-dialog)))) {
  width: 600px !important;
}

.mat-mdc-dialog-surface:has(> app-produto-movimentacao-dialog) {
  width: 650px !important;
  height: 653px !important;
  border-radius: 30px 30px !important;
  margin: 0;
  padding: 0;
}

.mat-mdc-dialog-surface > app-produto-movimentacao-dialog {
  margin: 0;
  height: 100% !important;
  width: 100% !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #4b9fcf !important;
}
